@model SchoolGallery.Models.CategoryModel

@{
    Layout = "~/Views/Shared/_BSLayout.cshtml";
    ViewData["Title"] = "Create";
}

<h2 class="site-h1">创建分类</h2>

<hr />
@if (ViewBag.isSuccess != null)
{
    if (ViewBag.isSuccess)
    {
        <h3> 添加成功</h3>
    }
    else
    {
        <h3> 添加失败</h3>
    }
}
<form class="layui-form" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="layui-form-item">
        <label asp-for="Title" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="Title" class="layui-input" value="@ViewBag.InputTitle" />
            <span asp-validation-for="Title" class="layui-bg-red"></span>
        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="ParentID" class="layui-form-label"></label>
        <div class="layui-input-block">
            <select name="ParentID" id="ParentID" class="form-control" asp-items="@ViewBag.CategoryType"></select>
            <span asp-validation-for="ParentID" class="layui-bg-red"></span>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="checkbox">
            <label class="layui-form-label" asp-for="NeedPassWord"></label>
            <div class="layui-input-block">
                <input asp-for="NeedPassWord" title="是否需要密码" />
            </div>

        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="PassWord" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="PassWord" class="layui-input" />
            <span asp-validation-for="PassWord" class="layui-bg-red"></span>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="submit" value="Create" class="layui-btn" />
        </div>
    </div>

</form>


<div class="layui-btn layui-btn-primary">
    <a asp-action="Index">返回</a>
</div>
@*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui.js"></script>*@

<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
