
@{
    Layout = null;
}
@model  SchoolGallery.Models.ContentModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    @Model.Title
</body>
</html>
