@model SchoolGallery.Models.ViewModels.ChangePassWordViewModel
@{
    ViewData["Title"] = "修改密码";
    Layout = "~/Views/Shared/_BSLayout.cshtml";
}

<h2>修改密码</h2>
<hr />
<form class="layui-form" asp-action="ChangePW">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="layui-form-item">
        <label asp-for="PassWord" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="PassWord" class="layui-input" />
            <span asp-validation-for="PassWord" class="layui-bg-red"></span>
        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="ConfirmPassWord" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="ConfirmPassWord" class="layui-input" />
            <span asp-validation-for="ConfirmPassWord" class="layui-bg-red"></span>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="submit" value="Create" class="layui-btn" />
        </div>
    </div>
    <input type="hidden" asp-for="UserID" value="@Model.UserID"/>
</form>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
