.container{
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
}
ul.container{
	overflow: hidden;
	width: 100%;
}
.module-item{
	float: left;
	width: 31%;
	margin: 0 10px;
	margin-top: 20px;
}
.item-img-wrap{
	width: 100%;
	height: 250px;
}
.item-img-wrap img{
	width: 100%;
	height: 100%;
}
.test{
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background-color: #000000;
}
.test a{
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color: #000000;
}
